<section class="arrivals">
  <div class="arrivals__wrapper container">
    <h2 class="title arrivals__title">Новые поступления</h2>
    <div class="arrivals__slider">
      <div class="arrivals__navigations">
        <div class="arrivals-button-prev"><img src="./img/svg/left-arrow.svg" alt=""></div>
        <div class="arrivals-button-next"><img src="./img/svg/right-arrow.svg" alt=""></div>
      </div>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide arrivals__card">
            <div class="arrivals__top">
              <div class="arrivals__img">
                <picture>
                  <source srcset="./img/arrivals/1.webp" type="image/webp">
                  <img loading="lazy" src="./img/arrivals/1.png" class="image" width="290" height="184" alt="">
                </picture>
              </div>
              <span class="arrivals__article">Арт. 4501390</span>
              <a href="#" class="arrivals__reviews">
                <img src="./img/svg/reviews.svg" alt="" width="16" height="16">
                <span>5</span>
              </a>
              <button class="arrivals__viewing">
                <img src="./img/svg/loop.svg" alt="" width="25" height="25">
                Быстрый просмотр
              </button>
            </div>
            <div class="arrivals__options">
              <div class="arrivals__option">
                <svg class="" width="17" height="17">
                  <use href="img/sprite.svg#chart"> </use>
                </svg>
              </div>
              <div class="arrivals__option">
                <svg class="" width="17" height="17">
                  <use href="img/sprite.svg#like"></use>
                </svg>
              </div>
            </div>
            <div class="arrivals__info">
              <h3 class="arrivals__name">Ингалятор компрессорный компактный MED-125</h3>
              <ul class="arrivals__stickers">
                <li class="arrivals__sticker arrivals__sticker--green">В наличии</li>
                <li class="arrivals__sticker arrivals__sticker--orange">Хит</li>
              </ul>
              <div class="arrivals__price-line">
                <div>
                  <span class="arrivals__price">24 529 ₽</span> шт.
                </div>
                <del class="arrivals__old-price">1 494 ₽</del>
              </div>
              <div class="arrivals__append">
                <div class="arrivals__counter">
                  <button class="arrivals__decrease">
                    <svg class="" width="18" height="18">
                      <use href="img/sprite.svg#minus"></use>
                    </svg>
                  </button>
                  <input type="number" value="1">
                  <button class="arrivalt-increas">
                    <svg class="" width="18" height="18">
                      <use href="img/sprite.svg#plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide arrivals__card">
            <div class="arrivals__top">
              <div class="arrivals__img">
                <picture>
                  <source srcset="./img/arrivals/2.webp" type="image/webp">
                  <img loading="lazy" src="./img/arrivals/2.png" class="image" width="290" height="184" alt="">
                </picture>
              </div>
              <span class="arrivals__article">Арт. 4501390</span>
              <a href="#" class="arrivals__reviews">
                <img src="./img/svg/reviews.svg" alt="" width="16" height="16">
                <span>5</span>
              </a>
              <button class="arrivals__viewing">
                <img src="./img/svg/loop.svg" alt="" width="25" height="25">
                Быстрый просмотр
              </button>
            </div>
            <div class="arrivals__options">
              <div class="arrivals__option">
                <svg class="" width="17" height="17">
                  <use href="img/sprite.svg#chart"> </use>
                </svg>
              </div>
              <div class="arrivals__option">
                <svg class="" width="17" height="17">
                  <use href="img/sprite.svg#like"></use>
                </svg>
              </div>
            </div>
            <div class="arrivals__info">
              <h3 class="arrivals__name">Тонометр механический CS Medica CS-106 с фонедоскопом</h3>
              <ul class="arrivals__stickers">
                <li class="arrivals__sticker arrivals__sticker--red">Нет в наличии</li>
                <li class="arrivals__sticker arrivals__sticker--orange">Хит</li>
              </ul>
              <div class="arrivals__price-line">
                <div><span class="arrivals__price">1 494 ₽</span> шт.</div>
                <del class="arrivals__old-price">1 494 ₽</del>
              </div>
              <div class="arrivals__append">
                <button class="button button--border arrivals__btn"> <span>
                    Заказать</span></button>
              </div>
            </div>
          </div>
          <div class="swiper-slide arrivals__card">
            <div class="arrivals__top">
              <div class="arrivals__img">
                <picture>
                  <source srcset="./img/arrivals/3.webp" type="image/webp">
                  <img loading="lazy" src="./img/arrivals/3.png" class="image" width="290" height="184" alt="">
                </picture>
              </div>
              <span class="arrivals__article">Арт. 4501390</span>
              <a href="#" class="arrivals__reviews">
                <img src="./img/svg/reviews.svg" alt="" width="16" height="16">
                <span>5</span>
              </a>
              <button class="arrivals__viewing">
                <img src="./img/svg/loop.svg" alt="" width="25" height="25">
                Быстрый просмотр
              </button>
            </div>
            <div class="arrivals__options">
              <div class="arrivals__option">
                <svg class="" width="17" height="17">
                  <use href="img/sprite.svg#chart"> </use>
                </svg>
              </div>
              <div class="arrivals__option">
                <svg class="" width="17" height="17">
                  <use href="img/sprite.svg#like"></use>
                </svg>
              </div>
            </div>
            <div class="arrivals__info">
              <h3 class="arrivals__name">Облучатель-рециркулятор медицинский СH111-115</h3>
              <ul class="arrivals__stickers">
                <li class="arrivals__sticker arrivals__sticker--green">В наличии</li>
                <li class="arrivals__sticker arrivals__sticker--blue">Новинка</li>
                <li class="arrivals__sticker arrivals__sticker--back-green">Акция</li>
              </ul>
              <div class="arrivals__price-line">
                <div> <span class="arrivals__price">6 284 ₽</span> шт.</div>

                <del class="arrivals__old-price">1 494 ₽</del>
              </div>
              <div class="arrivals__append">
                <button class="button button--fade arrivals__btn"><img src="./img/svg/basket.svg" alt=""> <span>В
                    корзину</span></button>
              </div>
            </div>
          </div>
          <div class="swiper-slide arrivals__card">
            <div class="arrivals__top">
              <div class="arrivals__img">
                <picture>
                  <source srcset="./img/arrivals/4.webp" type="image/webp">
                  <img loading="lazy" src="./img/arrivals/4.png" class="image" width="290" height="184" alt="">
                </picture>
              </div>
              <span class="arrivals__article">Арт. 4501390</span>
              <a href="#" class="arrivals__reviews">
                <img src="./img/svg/reviews.svg" alt="" width="16" height="16">
                <span>5</span>
              </a>
              <button class="arrivals__viewing">
                <img src="./img/svg/loop.svg" alt="" width="25" height="25">
                Быстрый просмотр
              </button>
            </div>
            <div class="arrivals__options">
              <div class="arrivals__option">
                <svg class="" width="17" height="17">
                  <use href="img/sprite.svg#chart"> </use>
                </svg>
              </div>
              <div class="arrivals__option">
                <svg class="" width="17" height="17">
                  <use href="img/sprite.svg#like"></use>
                </svg>
              </div>
            </div>
            <div class="arrivals__info">
              <h3 class="arrivals__name">Термометр мед.электр.WT-03</h3>
              <ul class="arrivals__stickers">
                <li class="arrivals__sticker arrivals__sticker--green">В наличии</li>
                <li class="arrivals__sticker arrivals__sticker--blue">Новинка</li>
              </ul>
              <div class="arrivals__price-line">
                <div>
                  <span class="arrivals__price">994 ₽</span> шт.
                </div>
                <del class="arrivals__old-price">1 494 ₽</del>
              </div>
              <div class="arrivals__append">
                <button class="button button--fade arrivals__btn"><img src="./img/svg/basket.svg" alt=""> <span>В
                    корзину</span></button>
              </div>
            </div>
          </div>
          <div class="swiper-slide arrivals__card">
            <div class="arrivals__top">
              <div class="arrivals__img">
                <picture>
                  <source srcset="./img/arrivals/5.webp" type="image/webp">
                  <img loading="lazy" src="./img/arrivals/5.png" class="image" width="290" height="184" alt="">
                </picture>
              </div>
              <span class="arrivals__article">Арт. 4501390</span>
              <a href="#" class="arrivals__reviews">
                <img src="./img/svg/reviews.svg" alt="" width="16" height="16">
                <span>5</span>
              </a>
              <button class="arrivals__viewing">
                <img src="./img/svg/loop.svg" alt="" width="25" height="25">
                Быстрый просмотр
              </button>
            </div>
            <div class="arrivals__options">
              <div class="arrivals__option">
                <svg class="" width="17" height="17">
                  <use href="img/sprite.svg#chart"> </use>
                </svg>
              </div>
              <div class="arrivals__option">
                <svg class="" width="17" height="17">
                  <use href="img/sprite.svg#like"></use>
                </svg>
              </div>
            </div>
            <div class="arrivals__info">
              <h3 class="arrivals__name">Насадки CS Medica SP-12 для зубной щетки CS Medica SonicPulsar CS-131</h3>
              <ul class="arrivals__stickers">
                <li class="arrivals__sticker arrivals__sticker--green">В наличии</li>
                <li class="arrivals__sticker arrivals__sticker--blue">Новинка</li>
                <li class="arrivals__sticker arrivals__sticker--yellow">%</li>
              </ul>
              <div class="arrivals__price-line">
                <div> <span class="arrivals__price">3 736 ₽</span> шт.
                </div>
                <del class="arrivals__old-price">1 494 ₽</del>
              </div>
              <div class="arrivals__append">
                <button class="button button--fade arrivals__btn"><img src="./img/svg/basket.svg" alt=""> <span>В
                    корзину</span></button>
              </div>
            </div>
          </div>

        </div>
        <div class="swiper-pagination arrivals__pagination"></div>
      </div>
    </div>

  </div>
</section>