<section class="callback">
    <div class="container">
        <div class="callback__wrapper ">
            <div class="callback__top">
                <div class="callback__img">
                    <img src="./img/svg/document.svg" alt="">
                </div>
                <div class="callback__title">
                    <h2 class="callback__title">Не нашли ответа на свой вопрос?</h2>
                    <p class="callback__description">Напишите нам, и мы предоставим необходимую информацию.</p>
                </div>
            </div>
            <form action="#" class="callback__form">
                <div class="callback__inputs-list">
                    <label class="input-line">
                        <input class="input input-name" type="text" placeholder="Имя*" name="name">
                    </label>
                    <label class="input-line">
                        <input class="input input-tel" type="tel" placeholder="Телефон*" name="tel">
                    </label>
                    <label class="input-line">
                        <input class="input input-email" type="email" placeholder="E-mail*" name="email">
                    </label>
                    <label class="input-line">
                        <textarea class="textarea input-textarea" name="" cols="30" rows="10" placeholder="Сообщение*"
                            name="textarea"></textarea>
                    </label>
                </div>
                <div class="callback__sumbit">
                    <input type="submit" class="button button--fill" value="Задать вопрос">

                    <label class="custom-checkbox ">
                        <input type="checkbox" class="custom-checkbox__field input-checkbox">
                        <span class="custom-checkbox__content">Я согласен с условиями <a href="#">пользовательского
                                соглашения.</a></span>
                    </label>
                </div>
            </form>
        </div>
    </div>
</section>


<div class="overlay " id="overlay-modal"></div>
<div class="modal modal--successfully  " data-modal="successfully">
    <div class="modal__container">
        <button class="modal__close" id="modalClose"><img src="./img/svg/close.svg" alt=""></button>
        <div class="modal__content">
            <picture>
                <source srcset="./img/modal_icon.webp" type="image/webp">
                <img loading="lazy" src="./img/modal_icon.png" class="image" width="" height="" alt="">
            </picture>
            <div class="modal__message">
                <h2 class="modal__title">Спасибо!</h2>
                <p class="modal__description">Вопрос отправлен</p>
            </div>
            <button class="button button--fade" id="modalClose">Хорошо :)</button>
        </div>
    </div>
</div>