// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Inter", sans-serif;
  --content-width: 1660px;
  --container-offset: 36px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --black-color: #1A1A1A;
  --gray-colo: #6A727B;

  @include big-desktop {
    --content-width: 1184px;
  }

  @include mobile {
    --container-offset: 20px;
  }
}